@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use 100vh to ensure full viewport height */
    background-color: #e3f3c4; /* Light background color */
    background-image: url('bg.png'); /* Path to your background image */
    background-size: 170%; /* Ensure the background covers the entire page */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center;
}

body::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.scroll-container {
    position: relative;
    text-align: center; /* Hide any overflow to ensure the message stays within the visible area */
    max-height: 100%; /* Limit the height to ensure it stays within the scroll */
    width: 100%; /* Set the width to 100% to take up full width */
    max-width: 1400px; /* Limit the maximum width */
}

.scroll-image {
    width: 100%; /* Keep the width at 100% */
    max-width: 1400px; /* Increase max-width to make the scroll bigger */
}

.message-container {
    position: absolute;
    top: 60px; /* Start from the top */
    left: 50%;
    transform: translateX(-50%);
    width: 70%; /* Take up more width to ensure message visibility */
    max-height: 80%; /* Ensure message stays within the visible area */
    color: #8b4513; /* Dark brown color for the text */
    font-family: 'Great Vibes', cursive; /* Beautiful font */
    font-size: 28px; /* Slightly increase font size */
    line-height: 1.5; /* Adjust line height for better readability */
    padding: 0; /* Remove padding to eliminate extra space */
    letter-spacing: 1px;
}

